@font-face {
    font-family: 'annabel';
    src: url('../../fonts/annabel.ttf');
    font-weight: normal;
    font-style: normal;
}
.c-sidebar-nav-title {
    /* border-bottom: 1px solid #d8dbe0; */
    font-size: 1.2rem;
     color: transparent !important;
     text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
     -webkit-background-clip: text;
     -moz-background-clip: text;
     background-clip: text;
     background-color: black;
}

.c-sidebar .c-sidebar-brand,
.c-dark-theme .c-sidebar .c-sidebar-brand,
.c-dark-theme .c-sidebar .c-sidebar-header{
    font-family: annabel;
    font-size: 15px;
    font-style: normal;
}

.c-dark-theme .c-sidebar::before,
.c-sidebar::before {
    background: transparent url('../../img/city.jpg');
    background-size: cover;
    content: "";
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.c-sidebar-nav-item{
 /* border-bottom: 1px solid #d8dbe0; */
 font-weight: 500;
}

.c-dark-theme .c-sidebar .c-sidebar-nav-link:hover,
 .c-dark-theme .c-sidebar .c-sidebar-nav-dropdown-toggle:hover,
 .c-sidebar .c-sidebar-nav-link:hover,
 .c-sidebar .c-sidebar-nav-dropdown-toggle:hover,
 .c-sidebar a:hover{
     background: transparent;
     color: red;
     transition: all 1s linear;
 }

.c-sidebar-nav-item {
    /* border: 1px solid #d8dbe0; */
    font-weight: 500;
    padding: .1rem;
}
.c-sidebar .c-sidebar-nav-link,
.c-dark-theme .c-sidebar .c-sidebar-nav-link{
    padding: .2rem;
    display: block;
    font-size: medium;
    /* text-align: left; */
}

.game-time{
     position: absolute;
     bottom: 0;
     padding: 1rem;
     display: block;
     width: 100%;
     z-index: 100;
     text-align: center;
}