.dashboard{
     background: url('../images/main1.jpg');
     background-size: cover;
     height: 100vh;
     color: mediumvioletred;
}
header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.topMenu{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.menuList{
    margin: 10px;
}

.sidebar-left {
  margin-left: 1.5rem;
  grid-area: sidebar-left;
}

article {
  grid-area: article;
}

.sidebar-right {
  margin-left: 5rem;
  grid-area: sidebar-right;
}

.grid {
    display: grid;
    grid-template-areas:
      "header header header"
      "sidebar-left content sidebar-right"
      "footer footer footer";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    height: 100vh;
    font-weight: bolder;
}
