.form-inline{
    display: flex;
    justify-content: center;
    align-items: center;
    // column-gap: 0.25rem;
}

.form-inline .form-group{
    font-size: small;
    margin: 0;
}

.form-inline .form-group label{
    margin: 0;
}

.form-group .input-group{
    display: flex;
    // background-color: var(--white);
    margin: 0;
    // border: 1px solid var(--border-color);
    // border-radius: var(--border-radius,0.25rem);
    // transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group .form-addon {
    color: var(--black);
    height: calc(1.0em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    margin-top: -4px;
}

.btn-primary{
    background-color: #441a0bcf;
}
p{
    margin: 0%;
    font-style: oblique;
    font-size: 15px;

}

.bottom{
    margin-left: 2rem;
    animation: blinker 1s linear infinite;
    color: red;
    font-size: 18px;
}

.top{
        margin-left: 15rem;
    animation: blinker 1s linear infinite;
    color: red;
    font-size: 18px;
}

@keyframes blinker {
  50% { opacity: 0; }
}
