.bar {
  background: hsl(0, 2%, 78%);
  height: 7px;
  width: 148px;
  border-radius: 10px;
  	animation: pulse 10s infinite;
}

.fill {
  background: hsla(0, 87%, 30%, 0.979);
  height: 100%;
  max-width: 100%;
  border-radius: 10px;
  	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
