@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Secular', cursive; }

/* .imgStyle{width: 200px; height: 200px;}

.mainDiv{width: 90%; margin: auto;} */

.mainPage {width: 90%; height: 100vh; margin: auto;}

.mainPage h1 { margin: 0; padding: 20px 0; text-align: center;}
.avtarStyle img{
    width: 200px;
    height: 200px;
}